<main>
    <div class="welcome">
        <h1>تعلم لغة الإشارة الجزائرية</h1>
        <a href="/register"><button class="popup-btn" id="register">فتح حساب</button></a>
        <br>
        <a href="/login"><button class="popup-btn" id="login">لدي حساب</button></a>
    </div>
</main>