<header>
    <nav>
        <input type="checkbox" id="check-menu">
        <label for="check-menu" class="check-menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">لغة الإشارة الجزائرية</label>
        <ul>
            {{#if status}}
            <li><a href="/learn">تعلم</a></li>
            <li><a href="/letters">الحروف</a></li>
            <li><a href="/dictionary">القاموس</a></li>
            <li><a href="/leaderboard">لوحة المتصدرين</a></li>
            <li><a href="/quests">المسابقات</a></li>
            <li><a href="/profile">الحساب</a></li>
            <li><a href="/settings">الإعدادات</a></li>
            <li><a href="/auth/logout">تسجيل الخروج</a></li>
            {{else}}
            <li class="page-active"><a href="/">الرئيسية</a></li>
            <li><a href="/letters">الحروف</a></li>
            <li><a href="/dictionary">القاموس</a></li>
            {{/if}}
        </ul>            
    </nav>
</header>
<main>
    <div class="welcome">
        <h1>تعلم لغة الإشارة الجزائرية</h1>
        <a href="/register"><button class="popup-btn" id="register">فتح حساب</button></a>
        <br>
        <a href="/login"><button class="popup-btn" id="login">لدي حساب</button></a>
    </div>
</main>
<footer>
    <p id="arr">كل الحقوق محفوظة</p>
</footer>
<script src="translate.js"></script>