<header>
    <nav>
        <input type="checkbox" id="check-menu">
        <label for="check-menu" class="check-menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">لغة الإشارة الجزائرية</label>
        <ul>
            <li class="page-active"><a href="/">الرئيسية</a></li>
            <li><a href="/letters">الحروف</a></li>
            <li><a href="/dictionary">القاموس</a></li>
        </ul>            
    </nav>
</header>
<main>
    <div class="welcome">
        <img src="/home/ad001.gif" alt="">
    </div>
</main>
<footer>
    <p id="arr">كل الحقوق محفوظة</p>
</footer>
<script src="translate.js"></script>