<main>
    <div class="road">
        <div class="section">
            <i class="fa-solid fa-arrow-right"></i>
            <h2>القسم الأول</h2>
        </div>
        <div class="lessons-container">
            <div class="progress">
                <button class="unlocked">
                    <i class="fa-solid fa-star"></i>
                </button>
            </div>
            <div class="lessons lesson-unlocked open-popup" id="ls1">
                <h2>تعارف</h2>
                <p>درس 1 من 4</p>
                <button onclick="">إبدأ</button>
            </div>
        </div>
        <div class="lessons-container">
            <button class="locked">
                <i class="fa-solid fa-lock"></i>
            </button>
            <div class="lessons lesson-locked open-popup" id="ls2">
                <h2>تعارف</h2>
                <p>أكمل جميع المستويات أعلاه لفتح هذا المستوى</p>
                <button onclick="">إبدأ</button>
            </div>
        </div>
        <button class="locked">
            <i class="fa-solid fa-lock"></i>
        </button>
        <button class="locked">
            <i class="fa-solid fa-lock"></i>
        </button>
        <button class="locked">
            <i class="fa-solid fa-lock"></i>
        </button>
    </div>
</main>