<div class="head">
    <i class="fa-solid fa-xmark"></i>
    <div id="lesson-progress"></div>
</div>
<div class="content-container">

</div>
<div class="action-container">
    <div class="action">
        <button class="btn skip-btn">تخطي</button>
        <button class="btn check-locked-btn"  id="check-btn">تحقق</button>
    </div>
</div>