<header>
    <nav>
        <input type="checkbox" id="check-menu">
        <label for="check-menu" class="check-menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">لغة الإشارة الجزائرية</label>
        <ul>
            <li><a href="/">الرئيسية</a></li>
            <li class="page-active"><a href="/letters">الحروف</a></li>
            <li><a href="/dictionary">القاموس</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <input type="text" id="sb" placeholder="بحث">
        <input type="button" id="search-btn" style="display: none;">  
    </div>
    <div class="letters card-content"></div>
    <div class="pagination"></div>
</main>
<footer>
    <p id="arr">كل الحقوق محفوظة</p>
</footer>
<script src="/tranletters.js"></script>
<script src="/pagiforletters.js"></script>