<main>
    <form onsubmit="return false;" class="login" id="form">
        <h1>تسجيل الدخول</h1>
        <input type="email" class="popup-text" id="email" placeholder="البريد الإلكتروني" required>
        <br>
        <input type="password" class="popup-text" id="password" placeholder="كلمة المرور" required>
        <br>
        <div class="alert alert-error" id="error" role="alert" style="display: none;"></div>
        <div class="alert alert-success" id="success" role="alert" style="display: none;"></div>
        <input type="submit" value="تسجيل الدخول" class="popup-btn" id="login-btn">
        <p id="terms-conditions">بتسجيلك الدخول، فأنت توافق على الشروط وسياسة الخصوصية الخاصة بنا.</p>
    </form>
</main>