<main>
    <div class="add">
        <input type="submit" value="أضف مشرف" class="popup-btn" id="open-ap-btn">
    </div>
    <div class="add-popup">
        <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
        <h1>أضف مشرف جديد</h1>
        <input type="text" class="popup-text" id="fullname" placeholder="الإسم و اللقب" autocomplete="off" required>
        <br>
        <input type="email" class="popup-text" id="email" placeholder="البريد الإلكتروني" autocomplete="off" required>
        <br>
        <input type="password" class="popup-text" id="password" placeholder="كلمة المرور" autocomplete="off" required>
        <br>
        <div class="full-access">
            <label for="fa-cb">كامل الصلحيات:</label>
            <input type="checkbox" id="fa-cb">
        </div>
        <div class="alert alert-error" id="error" role="alert" style="display: none;"></div>
        <div class="alert alert-success" id="success" role="alert" style="display: none;"></div>
        <input type="submit" value="إنشاء الحساب" class="popup-btn" id="add-btn">
    </div>
    <div class="manwordtable">
        <h1>قائمة المشرفين</h1>
        <input type="text" id="search-input" placeholder="أدخل إسم المشرف">
        <br>
        <button id="search-btn" style="display: none;">بحث</button>
        <table class="table">
            <thead>
                <th class="word-number">رقم</th>
                <th>الإسم و اللقب</th>
                <th>البريد الإلكتروني</th>
                <th class="word-edit-delet">تعديل الصلحيات</th>
                <th class="word-edit-delet">حذف</th>
            </thead>
            <tbody class="card-content"></tbody>
        </table>
        <div class="pagination pft"></div>
    </div>
    <div class="update-row">
        <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
        <h1>عدل الصلحيات</h1>
        <div class="full-access">
            <label for="ufa-cb">كامل الصلحيات:</label>
            <input type="checkbox" id="ufa-cb">
        </div>
        <input type="submit" value="تحديث" class="popup-btn" id="update-row-btn">
    </div>
    <div class="green-alert" id="add-success">
        <i class="fa-solid fa-check"></i>
        <p>تم إضافة الحرف بنجاح.</p>
        <button onclick="location.reload();">حسنا</button>
    </div>
    <div class="green-alert" id="update-success">
        <i class="fa-solid fa-check"></i>
        <p>تم تحديث الحرف بنجاح.</p>
        <button onclick="location.reload();">حسنا</button>
    </div>
    <div class="red-alert" id="awf">
        <i class="fa-solid fa-xmark"></i>
        <p>يرجى إدخال جميع المعلومات.</p>
        <button onclick="closeAlert();">حسنا</button>
    </div>
    <div class="red-alert" id="awf2">
        <i class="fa-solid fa-xmark"></i>
        <p>يرجى إدخال معلومات جديدة.</p>
        <button onclick="closeAlert();">حسنا</button>
    </div>
    <div class="red-alert" id="dwc">
        <i class="fa-solid fa-exclamation"></i>
        <p>هل أنت متأكد تريد حذف الحرف.</p>
        <button class="popup-btn" id="delete-btn">نعم</button>
        <button class="popup-btn" onclick="closeAlert();">لا</button>
    </div>
</main>
