* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Tajawal', 'Courier New', Courier, monospace;;
    background: #fff;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #777 #fff;
}

/* Similarity */
html, 
body {
    height: 100%;
}

/* Header */
.head {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px auto 0;
}
.head i {
    font-size: 30px;
    color: #b7b7b7;
}

#lesson-progress {
    position: relative;
    width: 100%;
    height: 16px;
    background: #e5e5e5;
    border-radius: 50px;
}

/* Main */
.content-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 30px auto 0;
}

.content {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: all 1s;
}

.sign-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: .2s;
}
.sub-titles {
    position: absolute;
    bottom: 15px;
    padding: 5px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    opacity: 0;
    transition: .2s;
}
.sign-container img {
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: .2s;
}
.replay-container {
    opacity: 0;
    position: absolute;
    transition: .4s;
}
.replay-container i {
    font-size: 100px;
    color: #e5e5e5;
}
.replay-container i:hover {
    color: #84d8ff;
}

.answer {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    height: 60px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 5px;
    margin-top: 30px;
}
.answer-btn {
    padding: 10px;
    color: #000;
    background: #fff;
    box-shadow: 0 3px 0 #e5e5e5;
    border: 2px solid #e5e5e5;
    transition: all 3s;
}

.answer-container.dragging {
    opacity: 0;
}
.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
}
.choice-placeholder {
    position: relative;
    margin-top: 2px;
    background: #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 3px 0 #e5e5e5;
}
.action-container {
    display: flex;
    margin-top: 80px;
    background: #fff;
    border-top: 2px solid #e5e5e5;
}

/* Action */
.action {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 60%;
    margin: 40px auto;
}
.action button {
    width: 150px;
    height: 50px;
}
.correct {
    background: #d7ffb8;
    border-top: 2px solid #d7ffb8;
}
.correct-message h2 {
    position: relative;
    font-size: 30px;
    color: #58a700;
    font-weight: bold;
}
.correct-message i {
    font-size: 55px;
    color: #58a700;
}
.wrong {
    background: #ffdfe0;
    border-top: 2px solid #ffdfe0;

}
.wrong-message h2 {
    color: #ea2b2b;
    font-weight: bold;
}
.wrong-message i {
    font-size: 55px;
    color: #ea2b2b;
}
.replay {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width:1000px){
    /* Main */
    .content-container {
        width: 80%;
    }

    /* Action */
    .action{
        width: 80%;
    }
}
@media (max-width:600px){
    
}