*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 100px 0 100px;
}
.head i{
    font-size: 30px;
    color: #b7b7b7;
}
.content-container{
    display: grid;
    width: 50%;
    margin: 30px auto 0;
}
.content{
    grid-row-start: 1;
    grid-column-start: 1;
    transition: all 1s;
}
.sign-container{
    display: flex;
    position: relative;
    justify-content: center;
}
.sub-titles{
    position: absolute;
    bottom: 15px;
    padding: 5px;
    color: #fff;
    background: #000;
    border-radius: 8px;
}
.content img{
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

#lesson-progress{
    position: relative;
    width: 80%;
    height: 16px;
    background: #e5e5e5;
    border-radius: 50px;
}

.btn {
    padding: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
}

.answer{
    display: flex;
    gap: 5px;
    height: 60px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 5px;
    margin-top: 30px;

}

.choices{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}
.choice-placeholder{
    position: relative;
    margin-top: 2px;
    background: #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 3px 0 #e5e5e5;
}
.action-container{
    display: flex;
    margin-top: 80px;
    border-top: 2px solid #e5e5e5;
}

.action{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto;
}
.action button{
    width: 150px;
    height: 50px;
}
.correct{
    background: #d7ffb8;
    border-top: 2px solid #d7ffb8;
}
.correct-message h2{
    position: relative;
    font-size: 30px;
    color: #58a700;
    font-weight: bold;
}
.correct-message i{
    font-size: 55px;
    color: #58a700;
}
.wrong{
    background: #ffdfe0;
    border-top: 2px solid #ffdfe0;

}
.wrong-message h2{
    color: #ea2b2b;
    font-weight: bold;
}
.wrong-message i{
    font-size: 55px;
    color: #ea2b2b;
}
.replay{
    display: flex;
    align-items: center;
    gap: 30px;
}
.check-locked-btn{
    color: #afafaf;
    background: #e5e5e5;
}
.check-unlocked-btn{
    color: #fff;
    background: #58cc02;
    box-shadow: 0 5px 0 #58a700;
}
.red-btn{
    color: #fff;
    background: #ff4b4b;
    box-shadow: 0 5px 0 #ea2b2b;
}
.skip-btn{
    width: 150px;
    color: #afafaf;
    background: #fff;
    box-shadow: 0 3px 0 #e5e5e5;
    border: 2px solid #e5e5e5;
}
.answer-btn{
    color: #000;
    background: #fff;
    box-shadow: 0 3px 0 #e5e5e5;
    border: 2px solid #e5e5e5;
    transition: all 3s;
}

@media (max-width:1000px){
    label.logo{
        margin: 0 50px;
    }
    .check-menu-btn{
        display: block;
    }
    nav ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        padding: 25px 50px;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a{
        font-size: 20px;
        padding: 30px;
    }
    #check-menu:checked ~ ul{
        right: 0;
    }
}
@media (max-width:600px){
    label.logo{
        margin: 0 50px;
        font-size: 15px;
    }
    .check-menu-btn{
        font-size: 15px;
    }
    .word{
        margin: 15px 15px 0 15px;
        font-size: 20px;
    }
    #sb{
        width: 100%;
        font-size: 20px;
        padding: 5px 10px;
        font-size: 20px;
    }
    .pagination li a{
        font-size: 0.8em;
        line-height: 35px;
      }
      .pagination li{
        margin: 2.5px;
        width: 35px;
        height: 35px;
      }
      .pagination{
        margin: 15px 15px 0 15px;
        padding: 10px;
      }
      .container {
        padding: 15px;
        margin: 15px 15px 0 15px;
        column-gap: 6px;
        row-gap: 6px;
      }

}