* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

body {
    font-family: 'Tajawal', 'Courier New', Courier, monospace;;
    background: #fff;

}

/* Similarity */
html, 
body {
    height: 100%;
}

html, 
.menu {
    scrollbar-width: thin;
    scrollbar-color: #777 #fff;
}

/* Header */
header {
    float: right;
    position: fixed;
    border-left: 2px solid #e5e5e5;
    height: 100%;
    background: #fff;
    z-index: 3;
}

#check-menu {
    display: none;
}
.check-menu-btn {
    font-size: 30px;
    color: #58cc02;
    display: none;
}
i.fa-bars {
    line-height: 80px;
}

.logo {
    position: relative;
    color: #58cc02;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    height: 150px;
    width: 300px;
}

.menu {
    position: fixed;
    width: 300px;
    height: calc(100vh - 150px);
    background: #fff;
    padding: 10px 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: none;
}
.menu:hover {
    overflow-y: scroll;
    padding-left: 9px;
}

nav ul {
    transition: all .5s;
}
nav ul li {
    margin: 10px 0;
    border-radius: 15px;
    border: 2px solid #fff;
}
nav ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    color: #777;
    padding: 20px 30px;
}

nav ul li.page-active {
    transition: .5s;
    background: #ddf4ff;
    border: 2px solid #84d8ff;
}
nav ul li:hover:not(.page-active) {
    transition: .5s;
    border: 2px solid #84d8ff;
}
li.page-active a, nav ul li:hover a {
    transition: .5s;
    color: #199edd;
}

/* Main */
main {
    display: flex;
    gap: 40px;
    float: left;
    width: calc(100% - 300px);
    min-height: calc(100vh - 220px);
    padding: 40px;
}

.container {
    width: 100%;
}

/* Letters Page */
.letters {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 15px;
    gap: 15px;
}
.letter {
    font-size: 100px;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #afafaf;
    background: #fff;
    border: 2px solid #e5e5e5;
}
.check-letter:checked + .letter {
    border: 2px solid #84d8ff;
}

/* Dictionary Page */
.dic {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.word {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    color: #afafaf;
    background: #fff;
    border: 2px solid #e5e5e5;
}
.check-word:checked + .word {
    border: 2px solid #84d8ff;
}

/** Dictionary And Letters Pages Similarity **/
/* Content */
.check-word, 
.check-letter {
    display: none;
}
.letter img, 
.word img {
    width: 100%;
    border-radius: 8px;
}

.no-data-container, 
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    column-gap: 12px;
    row-gap: 12px;
    background: #fff;
}
.no-data-container {
    margin-top: 15px;
    padding: 30px;

}

/* Sort By Letters */
.sort-by-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.5s;
    z-index: 3;
}

.sort button {
    width: 80%;
}

/*** LEARN PAGE ***/
/** Main **/
/* Section */
.section-container {
    display: block;
    width: 60%;
    border-radius: 8px;
    background: #fff;
}
.section-head {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
}
.section-head h2 {
    text-align: center;
    color: #afafaf;
}
.section-head i {
    position: absolute;
    right: 10px;
    font-size: 15px;
    color: #afafaf;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;
    cursor: pointer;

}

/* Units */
.unit-head {
    padding: 25px 15px 25px 10px;
    margin-bottom: 25px;
    color: #fff;
    background: #58cc02;
    border-radius: 15px;
}
.unit-road-map {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Levels */
.level-container {
    position: relative;
}
.level {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.level i {
    pointer-events: none;
}
.progress {
    position: relative;
    width: 104px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.progress button {
    top: 15.5px;
    right: 17.5px;
}

.no-progress {
    position: relative;
    margin-bottom: 20px;
}
.progress:before {
    content: '';
    position: absolute;
    inset: 10px;
    background: #fff;
    border-radius: 50%;
}
.level-container:last-of-type .no-progress {
    margin-bottom: 33px;
}
.level-container:last-of-type .progress {
    margin-bottom: 25px;
}
.unlocked {
    position: relative;
    width: 70px;
    height: 57px;
    background: #58cc02;
    font-size: 32px;
    color: #fff;
    transition: all .2s;
    border-radius: 50%;
    box-shadow: 0 8px 0 #46a302;
    outline: none;
    border: none;
    cursor: pointer;
}
.unlocked:active {
    transform: translateY(8px);
    box-shadow: 0 0 0 #46a302;
}

.locked {
    position: static;
    width: 70px;
    height: 57px;
    background: #e5e5e5;
    font-size: 32px;
    color: #afafaf;
    transition: all .2s;
    border-radius: 50%;
    box-shadow: 0 8px 0 #b7b7b7;
    outline: none;
    border: none;
    cursor: pointer;
}
.locked:active {
    transform: translateY(8px);
    box-shadow: 0 0 0 #b7b7b7;
}

/* Jump Here */
.jump-here {
    position: absolute;
    top: -50px;
    height: 50px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #e5e5e5;
    text-align: center;
    z-index: 1;
    animation: float 1.2s infinite ease-out alternate;
    animation-delay: .2s;
}
.jump-here:before{
    content: '';
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    background: #fff;
    bottom: -8.25px;
    left: calc(50% - 6.25px);
    transform: rotate(45deg);
}

.jump-here h3 {
    color: #58cc02;
    padding: 10px 15px;
}

@keyframes float {
    100% {
        transform: translateY(-8px);
    }
}

/* Lesson Counter */
.lessons-conter-parent {
    position: absolute;
    left: 50%;
    width: 325px;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    transition: all 0.5s;
    margin-top: 18px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.lessons {
    position: absolute;
    width: 325px;
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.lesson-unlocked {
    background: #58cc02;
    color: #fff;
}
.lesson-locked {
    background: #f7f7f7;
    color: #afafaf;
}
.lessons-conter-parent h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
.lessons-conter-parent p {
    margin-bottom: 16px;
}
.lessons-conter-parent button {
    width: 100%;
    margin-bottom: 5px;
}

.lessons-conter-parent:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: -12.5px;
    left: var(--left);
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.lesson-unlocked:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #58cc02;
    top: -12.5px;
    left: var(--left);
    transform: rotate(45deg);
}
.lesson-locked:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #f7f7f7;
    top: -12.5px;
    left: var(--left);
    transform: rotate(45deg);
}

/* Next Section */
.next-section-container {
    display: flexbox;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 80px;
}
.next-section-unlocked {
    background: #00af85;
}
.next-section-unlocked h3 {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
    border: 2px solid #b3e7db;
}
.next-section-unlocked h1 {
    color: #fff;
    margin-bottom: 10px;
}
.next-section-unlocked h2 {
    color: #fff;
    margin-bottom: 20px;
}
.next-section-unlocked button {
    width: 100%;
    background: #fff;
    color: #00af85;
    border: none;
    box-shadow: 0 5px 0 #b3e7db;
}
.next-section-unlocked button:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #b3e7db;
}
.next-section-locked {
    border: 2px solid #e5e5e5;
}
.next-section-locked h3 {
    display: inline-block;
    border-radius: 10px;
    color: #afafaf;
    padding: 5px 15px;
    background: #e5e5e5;
    margin-bottom: 10px;
}
.next-section-locked h1 {
    color: #777;
    margin-bottom: 10px;
}
.next-section-locked h2 {
    color: #afafaf;
    margin-bottom: 20px;
}
.next-section-locked button {
    width: 100%;
    background: #fff;
    color: #84d8ff;
    border: 2px solid #e5e5e5;
    box-shadow: 0 3px 0 #e5e5e5;
}
.next-section-locked button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 #e5e5e5;
}

/** Side Bar **/
.sidebar {
    width: calc(100% - 60% - 40px);
}
.ranking, 
.quests {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid #e5e5e5;
}
.ranking h2, 
.quests h2 {
    color: #4b4b4b;
}

/** SECTIONS PAGE **/
.sections-container {
    display: block;
    width: 60%;
}
.section {
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.section-unlocked {
    background: #00af85;
}
.section-unlocked h1 {
    color: #fff;
    margin-bottom: 10px;
}
#section-progress {
    position: relative;
    flex-grow: 1;
    height: 16px;
    background: #008c6a;
    color: #afafaf;
    border-radius: 50px;
}
.section-progress {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

}
.section-progress h3 {
    color: #fff;

}
.section-unlocked button {
    width: 80%;
    background: #fff;
    color: #00af85;
    border: none;
    box-shadow: 0 5px 0 #b3e7db;
}
.section-unlocked button:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #b3e7db;
}
.section-locked {
    background: #f7f7f7;
}
.section-locked h1 {
    color: #777;
    margin-bottom: 10px;
}
.section-locked h3 {
    color: #afafaf;
    margin-bottom: 30px;
}
.section-locked button {
    width: 80%;
    background: #fff;
    color: #3bb3f6;
    border: 2px solid #e5e5e5;
    box-shadow: 0 3px 0 #e5e5e5;
}
.section-locked button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 #e5e5e5;
}

/** FOOTER **/
footer {
    float: bottom;
    height: 80px;
    background: black;
    padding: 15px;
    margin-top: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
}

@media (max-width:1000px) {
    /** HEADER **/
    header {
        top: 0;
        float: none;
        display: flex;
        justify-content: center;
        align-content: center;
        border-left: none;
        border-bottom: 2px solid #e5e5e5;
        width: 100%;
        height: 80px;
        text-align: center;
    }

    .logo {
        height: 80px;
        line-height: 80px;
        padding: 0;
        margin: 0;
    }
    .check-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        height: 80px;
        margin: 0 25px;
    }
    .menu {
        display: block;
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;
        background: #fff;
        text-align: center;
        transition: all .5s;
        padding: 10px 20px;
        right: -100%;
        z-index: 2;
        overflow-y: scroll;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        font-size: 20px;
        padding: 20px 30px;
    }

    #check-menu:checked ~ ul {
        right: 0;
    }

    /** MAIN **/
    main {
        width: 100%;
        margin-top: 80px;
    }
}

@media (max-width:600px) {
    /** HEADER **/
    .logo {
        font-size: 20px;
    }
    .check-menu-btn {
        font-size: 20px;
    }

    /** MAIN **/
    main {
        padding: 0;
    }

    /** DICTIONARY PAGE **/
    .sort-by-letters {
        height: 60%;
        padding: 15px;
        overflow-y: scroll;
    }

    .sort,
    .word {
        padding: 15px;
        margin: 15px 15px 0 15px;
        font-size: 20px;
    }

    .sort button {
        width: 100%;
    }

    /** SIMILARITY **/
    /* Containers */
    .no-data-container, 
    .search-container {
        padding: 15px;
        margin: 15px 15px 0 15px;
        column-gap: 6px;
        row-gap: 6px;
    }

    /* Search */
    #search-input {
        width: 100%;
        padding: 5px 10px;
        font-size: 20px;
    }

    /* Pagination */
    .pagination li a {
        font-size: 0.8em;
        line-height: 35px;
      }
    .pagination li {
        margin: 2.5px;
        width: 35px;
        height: 35px;
    }
    .pagination {
        margin: 15px 15px 0 15px;
        padding: 10px;
    }

    /*** LEARN PAGE ***/
    /** Main **/
    /* Section */
    .section-container {
        width: 100%;
    }
    .section-head h2 {
        color: #fff;
    }
    .section-head i {
        font-size: 20px;
        color: #fff;
        background: none;
    }

    /* Units */
    .unit-head {
        border-radius: 0;
    }
    .next-section-container {
        border-radius: 0;
    }
    .section-head {
        padding: 15px;
        margin: 0;
        border: none;
        background: #00af85;
    }

    /* Next Section */
    .next-section-locked {
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    /** Side Bar **/
    .sidebar {
        width: 0;
        display: none;
    }
}