* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Tajawal', 'Courier New', Courier, monospace;;
    background: #fff;
}

/* Similarity */
html, 
body {
    height: 100%;
}

html,
.menu {
    scrollbar-width: thin;
    scrollbar-color: #777 #fff;
}

/* Paragraphs */
#terms-conditions {
    width: 100%;
    margin: auto;
}

/* Header */
header {
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background: #fff;
    height: 80px;
    width: 100%;
    padding: 5px 0;
    transition: .5s;
    border: 2px solid #fff;
}

#check-menu {
    display: none;
}
.check-menu-btn {
    float: left;
    font-size: 30px;
    color: #58cc02;
    margin-left: 50px;
    display: none;

}
i.fa-bars {
    line-height: 70px;
}

.logo {
    color: #58cc02;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    margin: 0 100px;
}

nav ul {
    float: left;
    display: flex;
    margin-left: 50px;
    padding: 0 50px;
}
nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px 0 0;
    border-radius: 15px;
    border: 2px solid #fff;
}
nav ul li a {
    color: #afafaf;
    font-size: 15px;
    padding: 30px 15px;
    height: 80px;
}
li.page-active,
li:hover {
    transition: .5s;
    background: white;
}
li.page-active a,
nav ul li:hover a {
    transition: .5s;
    color: #199edd;
}

/* Main */
main {
    min-height: calc(100vh - 220px);
    margin-top: 110px;
}

/* Home Page */
#login {
    color: #199edd;
}
#register {
    margin-bottom: 21px;
}
#login,
#register {
    width: 100%;
}
.welcome h1 {
    margin-bottom: 32px;
}

/* Home And Login, Register Pages Similarity */
.welcome, 
.login, 
.register {
    width: 40%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    background: #fff;
}

.welcome h1, 
.login-head h1, 
.register-head h1 {
    color: #4b4b4b;
}

/* Login And Register Pages Similarity */
.login-head, 
.register-head {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-head a, 
.register-head a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-head i, 
.register-head i {
    position: absolute;
    right: 10px;
    font-size: 22px;
    color: #4b4b4b;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;
    cursor: pointer;
}

#fullname, #email, #password {
    width: 100%;
}

#login-btn,
#register-btn {
    width: 100%;
    margin-bottom: 16px;
}

/* Letters Page */
.letters {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 15px 30px 0 30px;
    gap: 15px;
}
.letter {
    font-size: 100px;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #afafaf;
    background: #fff;
    border: 2px solid #e5e5e5;
}
.check-letter:checked + .letter {
    border: 2px solid #84d8ff;
}

/* Dictionary Page */
.dic {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.word {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin: 15px 30px 0 30px;
    border-radius: 10px;
    color: #afafaf;
    background: #fff;
    border: 2px solid #e5e5e5;
}
.check-word:checked + .word {
    border: 2px solid #84d8ff;
}

.sort-by-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.5s;
    z-index: 3;
}

.sort button {
    width: 80%;
}

/* Dictionary And Letters Pages Similarity */
.check-word, 
.check-letter {
    display: none;
}
.letter img, 
.word img {
    width: 100%;
    border-radius: 10px;
}

.no-data-container, 
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  padding: 20px;
  margin: 15px 30px 0 30px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  column-gap: 12px;
  row-gap: 12px;
  background: #fff;
}
.no-data-container {
    padding: 30px;
}

.sort, 
.pagination {
    margin-right: 30px;
    margin-left: 30px;
}

/* Footer */
footer {
    float: bottom;
    height: 80px;
    background: #58cc02;
    padding: 15px;
    margin-top: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
}

@media (max-width:1000px) {
    /* Header */
    .check-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        margin: 0 25px;
    }

    nav {
        justify-content: center;
    }

    nav ul {
        display: block;
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        background: #fff;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        padding: 10px 20px;
        overflow-y: scroll;
    }
    nav ul li {
        display: block;
        width: 100%;
        margin: 10px 0;
        line-height: normal;
    }
    nav ul li a {
        display: block;
        width: 100%;
        height: auto;
        font-size: 20px;
        padding: 20px 30px;
        text-decoration: none;

    }
    nav ul li.page-active {
        transition: .5s;
        background: #ddf4ff;
        border: 2px solid #84d8ff;
    }
    nav ul li:hover:not(.page-active) {
        transition: .5s;
        border: 2px solid #84d8ff;
    }
    #check-menu:checked ~ ul {
        right: 0;
    }

    /* Home And Login, Register Pages Similarity */
    .welcome, .login, .register {
        width: 50%;
    }
}

@media (max-width:600px) {
    /* Header */
    .logo {
        font-size: 20px;
    }
    .check-menu-btn {
        font-size: 20px;
    }

    /* Home And Login, Register Pages Similarity */
    .welcome, .login, .register {
        width: 100%;
    }

    /* Dictionary Page */
    .sort-by-letters {
        height: 60%;
        padding: 15px;
        overflow-y: scroll;
    }
    
    .sort, 
    .word {
        padding: 15px;
        margin: 15px 15px 0 15px;
        font-size: 20px;
    }

    .sort button {
        width: 100%;
    }

    /* Dictionary And Letters Pages Similarity */
    #search-input {
        width: 100%;
        font-size: 20px;
        padding: 5px 10px;
        font-size: 20px;
    }

    /* Pagination */
    .pagination li a {
        font-size: 0.8em;
        line-height: 31px;
    }
    .pagination li {
        margin: 2.5px;
        width: 35px;
        height: 35px;
    }
    .pagination {
        margin: 15px 15px 0 15px;
        padding: 10px;
    }
    .no-data-container, .search-container {
        padding: 15px;
        margin: 15px 15px 0 15px;
        column-gap: 6px;
        row-gap: 6px;
    }
}