<main>
    <form onsubmit="return false;" class="login" id="form">
        <div class="login-head">
            <h1>تسجيل الدخول</h1>
        </div>
        <input type="email" class="text-input" id="email" placeholder="البريد الإلكتروني" required>
        <br>
        <input type="password" class="text-input" id="password" placeholder="كلمة المرور" required>
        <br>
        <input type="submit" value="تسجيل الدخول" class="btn second-btn" id="login-btn">
        <div class="alert alert-error" id="error" role="alert" style="display: none;"></div>
        <p id="terms-conditions">بتسجيلك الدخول، فأنت توافق على الشروط وسياسة الخصوصية الخاصة بنا.</p>
    </form>
</main>