<main>
    <div class="container">
        <div class="table-first-head">
            <h1>الحروف</h1>
        </div>
        <div class="add">
            <input type="submit" value="أضف حرف" class="btn first-btn" id="open-ap-btn">
        </div>
        <div class="add-popup">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h1>أدخل حرف جديد</h1>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="add-form">
                    <input type="text" class="text-input" id="letter-input" placeholder="أدخل الحرف" required>
                    <br>
                    <div class="file-container">
                        <input type="file" id="file" name="sampleFile" style="display: none;" onchange="fileAdded()" required>
                        <input type="button" class="btn fourth-btn" id="file-input-btn" value="إختر الملف" onclick="document.querySelector('#file').click()">
                        <p id="no-file">لا يوجد الملف</p>
                    </div>
                    <input type="submit" value="أضف الحرف" class="btn second-btn" id="add-letter-btn">
                    <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="manwordtable">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="أدخل الحرف">
                <button id="search-btn" style="display: none;">بحث</button>
            </div>
            <table class="table">
                <thead>
                    <th>الحرف</th>
                    <th class="word-file">الملف</th>
                    <th class="word-edit-delet">تعديل</th>
                    <th class="word-edit-delet">حذف</th>
                </thead>
                <tbody class="card-content"></tbody>
            </table>
            <div class="pagination pft"></div>
        </div>
        <div class="update-row">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h1>إختر ملف الترجمة الجديد</h1>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="edit-form">
                    <div class="file-container">
                        <input type="file" id="file-update" name="sampleFile" style="display: none;" onchange="fileAddedUpdate()" required>
                        <input type="button" class="btn fourth-btn" id="file-input-btn" value="إختر الملف" onclick="document.querySelector('#file-update').click()">
                        <p id="no-file-update">لا يوجد الملف</p>
                    </div>
                    <input type="submit" value="تحديث" class="btn second-btn" id="update-row-btn">
                    <div class="alert alert-error" id="edit-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="red-alert" id="dwc">
            <div class="body">
                <i class="fa-solid fa-exclamation"></i>
                <p>هل أنت متأكد تريد حذف الحرف.</p>
                <button class="btn third-btn" id="delete-btn">نعم</button>
                <button class="btn fourth-btn" onclick="closeAlert();">لا</button>
                <div class="alert alert-error" id="delete-error" role="alert" style="display: none;"></div>
            </div>
        </div>
    </div>
</main>
