<main>
    <div class="container">
        <div class="table-first-head">
            <h1>قائمة المشرفين</h1>
        </div>
        <div class="add">
            <input type="submit" value="أضف مشرف" class="popup-btn" id="open-ap-btn">
        </div>
        <div class="add-popup">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h2>أضف مشرف جديد</h2>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="add-form">
                    <input type="text" class="popup-text" id="fullname" placeholder="الإسم و اللقب" autocomplete="off" required>
                    <br>
                    <input type="email" class="popup-text" id="email" placeholder="البريد الإلكتروني" autocomplete="off" required>
                    <br>
                    <input type="password" class="popup-text" id="password" placeholder="كلمة المرور" autocomplete="off" required>
                    <br>
                    <div class="full-access">
                        <label for="fa-cb">كامل الصلحيات:</label>
                        <input type="checkbox" id="fa-cb">
                    </div>
                    <input type="submit" value="إنشاء الحساب" class="popup-btn" id="add-btn">
                    <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="manwordtable">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="أدخل إسم المشرف">
                <button id="search-btn" style="display: none;">بحث</button>
            </div>
            <table class="table">
                <thead>
                    <th class="word-number">رقم</th>
                    <th>الإسم و اللقب</th>
                    <th>البريد الإلكتروني</th>
                    <th class="word-edit-delet">تعديل الصلحيات</th>
                    <th class="word-edit-delet">حذف</th>
                </thead>
                <tbody class="card-content"></tbody>
            </table>
            <div class="pagination pft"></div>
        </div>
        <div class="update-row">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h1>عدل الصلحيات</h1>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="edit-form">
                    <div class="full-access">
                        <label for="ufa-cb">كامل الصلحيات:</label>
                        <input type="checkbox" id="ufa-cb">
                    </div>
                    <input type="submit" value="تحديث" class="popup-btn" id="update-row-btn">
                    <div class="alert alert-error" id="edit-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="red-alert" id="dwc">
            <div class="body">
                <i class="fa-solid fa-exclamation"></i>
                <p>هل أنت متأكد تريد حذف الحرف.</p>
                <button class="popup-btn" id="delete-btn">نعم</button>
                <button class="popup-btn" onclick="closeAlert();">لا</button>
                <div class="alert alert-error" id="delete-error" role="alert" style="display: none;"></div>
            </div>
        </div>
    </div>
</main>
