<main>
    <div class="container">
        <div class="table-first-head">
            <h1>قائمة المشرفين</h1>
        </div>
        <div class="add">
            <input type="submit" value="أضف مشرف" class="btn first-btn" id="open-ap-btn">
        </div>
        <div class="add-popup">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h2>أضف مشرف جديد</h2>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="add-form">
                    <input type="text" class="text-input" id="fullname" placeholder="الإسم و اللقب" autocomplete="off" required>
                    <br>
                    <input type="email" class="text-input" id="email" placeholder="البريد الإلكتروني" autocomplete="off" required>
                    <br>
                    <input type="password" class="text-input" id="password" placeholder="كلمة المرور" autocomplete="off" required>
                    <br>
                    <div class="access-container">
                        <div class="access">
                            <label for="stats-cb">صلاحية الإحصائيات:</label>
                            <input type="checkbox" class="custom-cb" id="stats-cb">
                        </div>
                        <div class="access">
                            <label for="content-cb">صلاحية المحتوى:</label>
                            <input type="checkbox" class="custom-cb" id="content-cb">
                        </div>
                        <div class="access">
                            <label for="fa-cb">كامل الصلحيات:</label>
                            <input type="checkbox" class="custom-cb" id="fa-cb">
                        </div>
                    </div>
                    <input type="submit" value="إنشاء الحساب" class="btn second-btn" id="add-btn">
                    <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="manwordtable">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="أدخل إسم المشرف">
                <button id="search-btn" style="display: none;">بحث</button>
            </div>
            <table class="table">
                <thead>
                    <th>الإسم و اللقب</th>
                    <th>البريد الإلكتروني</th>
                    <th>الصلحيات</th>
                    <th class="word-edit-delet">تعديل الصلحيات</th>
                    <th class="word-edit-delet">حذف</th>
                </thead>
                <tbody class="card-content"></tbody>
            </table>
            <div class="pagination pft"></div>
        </div>
        <div class="update-row">
            <div class="head">
                <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                <h1>عدل الصلحيات</h1>
            </div>
            <div class="body">
                <form onsubmit="return false;" id="edit-form">
                    <div class="access-container">
                        <div class="access">
                            <label for="edit-stats-cb">صلاحية الإحصائيات:</label>
                            <input type="checkbox" class="custom-cb" id="edit-stats-cb">
                        </div>
                        <div class="access">
                            <label for="edit-content-cb">صلاحية المحتوى:</label>
                            <input type="checkbox" class="custom-cb" id="edit-content-cb">
                        </div>
                        <div class="access">
                            <label for="edit-fa-cb">كامل الصلحيات:</label>
                            <input type="checkbox" class="custom-cb" id="edit-fa-cb">
                        </div>
                    </div>
                    <input type="submit" value="تحديث" class="btn second-btn" id="update-row-btn">
                    <div class="alert alert-error" id="edit-error" role="alert" style="display: none;"></div>
                </form>
            </div>
        </div>
        <div class="red-alert" id="dwc">
            <div class="body">
                <i class="fa-solid fa-exclamation"></i>
                <p>هل أنت متأكد تريد حذف الحرف.</p>
                <button class="btn third-btn" id="delete-btn">نعم</button>
                <button class="btn fourth-btn" onclick="closeAlert();">لا</button>
                <div class="alert alert-error" id="delete-error" role="alert" style="display: none;"></div>
            </div>
        </div>
    </div>
</main>
