<main>
    <div class="container">
        <div class="rotate-screen-container">
            <div class="rotate-screen">
                <i class="fa-solid fa-rotate-left"></i>
                <h1>قم بتدوير جهازك و أعد تحميل الصفحة.</h1>
            </div>
        </div>
    </div>
</main>