<main>
    <div class="section-container" user-id="{{userId}}" user-reg-date="{{userRegDate}}"></div>
    <div class="sidebar">
        <div class="ranking">
            <h2>مرتبتك</h2>
        </div>
        <div class="quests">
            <h2>المهام اليومية</h2>
        </div>
    </div>
</main>