<main id="main">
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="بحث">
            <input type="button" id="search-btn" style="display: none;">  
        </div>
        <div class="letters card-content"></div>
        <div class="pagination"></div>
    </div>
</main>