<main>
    <form onsubmit="return false;" class="register" id="form">
        <div class="register-head">
            <a href="/">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            <h1>أنشئ حسابا</h1>
        </div>
        <input type="text" class="popup-text" id="fullname" placeholder="الإسم و اللقب" autocomplete="off" required>
        <br>
        <input type="email" class="popup-text" id="email" placeholder="البريد الإلكتروني" autocomplete="off" required>
        <br>
        <input type="password" class="popup-text" id="password" placeholder="كلمة المرور" autocomplete="off" required>
        <br>
        <input type="submit" value="إنشاء الحساب" class="popup-btn" id="register-btn">
        <div class="alert alert-error" id="error" role="alert" style="display: none;"></div>
        <div class="alert alert-success" id="success" role="alert" style="display: none;"></div>
        <p id="terms-conditions">بتسجيلك الدخول، فأنت توافق على الشروط وسياسة الخصوصية الخاصة بنا.</p>
    </form>
</main>